{% extends 'wbw/base.html' %}

{% block content %}
    {% for product in products %}
        {% if product.new_line %}
            <div class="flex-row-container">
                <a href="{% url 'product_detail' pk=product.pk %}">
                    <div class="flex-item">
                        <p>{{ product.name }}</p>
                        <p>{{ product.description }}</p>
                    </div>
                </a>
            {% else %}
                <a href="{% url 'product_detail' pk=product.pk %}">
                    <div class="flex-item">
                        <p>{{ product.name }}</p>
                        <p>{{ product.description }}</p>
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}